<configuration>
    <!-- Set the default log level to INFO -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Enable DEBUG level for your package -->
    <logger name="com.sbboakye" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Silence verbose libraries -->
    <logger name="org.testcontainers" level="warn" />
    <logger name="org.http4s" level="warn" />
    <logger name="com.zaxxer.hikari" level="warn" />

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>